body {
    background-color: #8da6d9;
    height: 100%;
}

#container {
    margin: 20px 40px;
    padding: 20px;
    background-color: white;
    height: 100%;
    border: 1px solid black;
    min-height: 400px;
}

header {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

header #logo {
    float: left;
    margin-right: 20px;
}

header h1 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

div#content {
}


