body {
    background-color: #8da6d9;
    height: 100%;
}

#container {
    margin: 20px 40px;
    padding: 20px;
    background-color: white;
    height: 100%;
    border: 1px solid black;
    min-height: 400px;
}

header {
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

header #logo {
    float: left;
    margin-right: 20px;
}

header h1 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

div#content {
}



/**
 * Styles for bare layout
 */

form label {
  width: 120px;
  display: inline-block;
}

.error ul {
  margin-bottom: 0;
}

.fieldError label {
  color: #8A1F11;
}

.fieldError input, .fieldError select {
  border-color: #8a1f11;
  background-color: #FBE3E4;
}

.actions a {
  font-size: 110%;
  margin-right: 10px;
  padding: 2px 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-decoration: none;
}

.actions input {
  margin-right: 10px;
}

table.contacts tbody td {
  cursor: pointer;
}

table.contacts tbody tr:hover td {
  background-color: #ff9900;
}

.person {
  font-size: 110%;
}

.person p + p {
  text-indent: 0;
}

